<div>
    <h1 class="text-white text-center">Dashboard</h1>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row row-cols-1">
            {{#each user.posts as |post|}}
            {{> post-details}}
            {{/each}}
        </div>
    </div>
</div>
